include ../mixins/product-item.pug

if(boughtTogetherProducts.length > 0)
  section.wow.fadeInUp(class="related_products mt_50")
    .container
      .row
        .col-xl-6
          div(class="section_heading_2 section_heading")
            h3
              span Đề xuất mua kèm
      .row(class="mt_25 flash_sell_2_slider")
        each item in boughtTogetherProducts
          .col-xl-1-5
            +product-item(item)