div(class="cart_table_area")
  .table-responsive
    table.table
      thead
        tr
          th(class="cart_page_checkbox")
            .form-check
              input.form-check-input(
                value="" 
                type="checkbox"
                input-cart-check-all
                )
          th(class="cart_page_img") Ảnh
          th(class="cart_page_details") Thông tin
          th(class="cart_page_price") Đơn giá
          th(class="cart_page_quantity") Số lượng
          th(class="cart_page_total") Tạm tính
          th(class="cart_page_action") Hành động
  .table-responsive
    table.table
      tbody(cart-table)
        //- tr
        //-   td(class="cart_page_checkbox")
        //-     .form-check
        //-       input#flexCheckDefault2.form-check-input(
        //-         value="" 
        //-         type="checkbox"
        //-         )
        //-   td(class="cart_page_img")
        //-     .img
        //-       img.img-fluid.w-100(
        //-         alt="Products" 
        //-         src="/client/assets/images/product_18.png"
        //-         )
        //-   td(class="cart_page_details")
        //-     a.title(href="shop_details.html") Áo len
        //-     p
        //-       | 100000đ
        //-       del 120000đ
        //-     span
        //-       b Màu sắc:
        //-       | cam
        //-     span
        //-       b Size:
        //-       | m
        //-   td(class="cart_page_price")
        //-     h3 1000000đ
        //-   td(class="cart_page_quantity")
        //-     div(class="details_qty_input")
        //-       button.minus
        //-         i.fal.fa-minus(aria-hidden="true")
        //-       input(
        //-         placeholder="01" 
        //-         type="text"
        //-         )
        //-       button.plus
        //-         i.fal.fa-plus(aria-hidden="true")
        //-   td(class="cart_page_total")
        //-     h3 200000đ
        //-   td(class="cart_page_action")
        //-     a(href="#")
        //-       i.fal.fa-times
        //-       | Xóa