div(class="cart_page_summary")
  h3 Tóm tắt thanh toán
  ul(cart-summary)
    //- li
    //-   a.img(href="#")
    //-     img.img-fluid.w-100(
    //-       alt="Products" 
    //-       src="/client/assets/images/product_18.png"
    //-       )
    //-   .text
    //-     a.title(href="shop_details.html") áo len
    //-     p 100.000đ × 2
    //-     p Màu sắc: đỏ
    //-     p Kích cỡ: size m
  h6
    | Tạm tính
    span
      span(sub-total) 0
      span đ
  h6
    | Giảm giá
    span
      span(discount) (-) 0
      span đ
  h4
    | Tổng tiền
    span
      span(total) 0
      span đ
  form(action="#")
    input(
      placeholder="Mã giảm giá" 
      type="text"
      )
    button(
      class="common_btn" 
      type="submit"
      ) Áp dụng
    p
      | Mã giảm giá: HEM4556JL
      a(href="#")
        i.fal.fa-times