DATABASE =  "mongodb+srv://username:password.jfeqpvm.mongodb.net/database"
JWT_SECRET = "CHUOINGAUNHIEN"
NODE_ENV = "" # nếu '' là http, nếu 'production' là https
SUPER_ADMIN_ID = "ID"
SUPER_ADMIN_EMAIL = "EMAIL"
SUPER_ADMIN_PASSWORD = "PASSWORD"