extends ../layouts/default.pug
include ../mixins/blog-item.pug
include ../mixins/page-banner.pug

block main
  //
    =========================
    PAGE BANNER START
    ==========================
  
  +page-banner(categoryDetail, `/blog/categeory/${categoryDetail.slug}`)

  //
    =========================
    PAGE BANNER START
    ==========================
  //
    ============================
    BLOG RIGHT SIDEBAR START
    =============================
  section(class="blog_right_sidebar blog_2 mt_75 mb_100")
    .container
      .row
        .col-xl-9.col-lg-8
          .row
            each item in blogList
              .col-xl-4.col-md-6.wow.fadeInUp
                +blog-item(item)
            .row
            //- Pagination
            include ../partials/pagination-area.pug

        .col-xl-3.col-lg-4.col-md-8
          include ../partials/sticky-sidebar-blog.pug
  //
    ============================
    BLOG RIGHT SIDEBAR START
    =============================