extends ../layouts/default.pug
include ../mixins/menu-category-item.pug
include ../mixins/page-banner.pug

block main
  //
    =========================
    PAGE BANNER START
    ==========================

  +page-banner({
    name: "Giỏ hàng"
  }, `/cart`)

  //
    ============================
    CART PAGE START
    =============================
  section(class="cart_page mt_100 mb_100")
    .container
      .row
        .col-lg-8.wow.fadeInUp
          include ../partials/cart-table-area.pug
        .col-lg-4.col-md-9.wow.fadeInRight
          div(id="sticky_sidebar")
            include ../partials/cart-page-summary.pug
            div(class="cart_summary_btn")
              a(
                href="shop.html" 
                class="common_btn continue_shopping"
                ) Contiue shopping
              a(
                href="checkout.html" 
                class="common_btn"
                )
                | checkout
                i.fas.fa-long-arrow-right
  //
    ============================
    CART PAGE END
    =============================