extends ../layouts/default.pug

block main
  if permissions.includes('dashboard')
    .row
      .col-md-12.col-lg-4
        .card
          .card-header
            .row.align-items-center
              .col
                h4.card-title Tỷ lệ trạng thái đơn hàng theo ngày
          .card-body.pt-0
            canvas#orderStatusToday
      .col-md-12.col-lg-4
        .card
          .card-header
            .row.align-items-center
              .col
                h4.card-title Tỷ lệ trạng thái đơn hàng theo tháng
          .card-body.pt-0
            canvas#orderStatusMonth
      .col-md-12.col-lg-4
        .card
          .card-header
            .row.align-items-center
              .col
                h4.card-title Tỷ lệ trạng thái đơn hàng theo năm
          .card-body.pt-0
            canvas#orderStatusYear

block script
  script(src="https://cdn.jsdelivr.net/npm/chart.js")
  script.
    const pieToday = !{JSON.stringify(pieToday)};
    const pieThisMonth = !{JSON.stringify(pieThisMonth)};
    const pieThisYear = !{JSON.stringify(pieThisYear)};
  script(src="/admin/assets/js/my-chart.js")