extends ../layouts/default.pug

block main
  if permissions.includes('dashboard')
    .row
      .col-md-12.col-lg-12
        .card
          .card-header
            .row.align-items-center
              .col
                h4.card-title Biểu đồ doanh thu theo giờ
          .card-body.pt-0
            canvas#revenueChartHour

block script
  script(src="https://cdn.jsdelivr.net/npm/chart.js")
  script.
    const labelsHour = !{JSON.stringify(labelsHour)};
    const todayData = !{JSON.stringify(todayData)};
    const yesterdayData = !{JSON.stringify(yesterdayData)};
  script(src="/admin/assets/js/my-chart.js")