
extends ../layouts/default.pug

block main
  .card
    .card-header
      .row.align-items-center
        .col
          h4 #{pageTitle}
    .card-body.pt-0
      form(id="settingApiAppPasswordForm")
        .row
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="gmailUser") Gmail User
              input(id="gmailUser" name="gmailUser" class="form-control" value=`${record ? record.data.gmailUser : ''}`)
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="gmailPassword") Gmail Password
              input(id="gmailPassword" name="gmailPassword" class="form-control" value=`${record ? record.data.gmailPassword : ''}`)
        button.btn.btn-primary(type="submit") Cập nhập