include ../mixins/blog-item.pug

//
  =========================
    BLOG 2 START
    ==========================
section(class="blog_2 pt_95")
  .container
    .row
      .col-xl-6.col-sm-9
        div(class="section_heading_2 section_heading")
          h3
            | #{blockData.title.normal}
      .col-xl-6.col-sm-3
        div(class="view_all_btn_area")
          a(
            href=blockData.linkViewAll
            class="view_all_btn"
            ) #{blockData.viewAll}
    .row(class="mt_15")
      each item in blockBlogList
        .col-lg-4.col-xxl-3.col-md-6.wow.fadeInUp
          +blog-item(item)
//
  =========================
    BLOG 2 END
    ==========================